body {
  line-height: 1.5;
}
#numberGame span {
  display: inline;
}
.hidden {
  display: none;
}
.hidden-lose {
  display: none;
}
.double-win {
  display: none;
}
.instruction {
  font-size: 20px;
}
.you-chose {
  display: inline-flex;
  margin-right: 20px;
  width: 100px;
}
